.perfil-container {
  margin-top: 3rem;
  padding: 0;
  width: 18%;
  display: block; /* Cambiar a bloque en lugar de inline-block */
  max-width: none;
  margin: 0 auto; /* Centrar horizontalmente utilizando margen auto */
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: black;
}

.modalContent-dark {
  background: #113f67;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.perfil-header {
  margin-top: 10px; /* Cambiar margin-bottom a margin-top */
  text-align: left; /* Cambiar el texto a la izquierda si es necesario */
}

.perfil-datos {
  margin-top: 10px; /* Cambiar margin-bottom a margin-top */
  display: block; /* Cambiar a bloque en lugar de flex */
}

.perfil-datos label {
  display: block; /* Asegurarse de que los labels sean bloques */
  font-weight: bold;
  margin: 5px 0; /* Cambiar margin-bottom a un margen vertical */
  margin-top: 1rem;
}

.perfil-datos input,
.perfil-datos span {
  margin: 5px 0; /* Cambiar margin-bottom a un margen vertical */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editar {
  background-color: #94c3dd;
  color: #303030;
  border: none;
  border-radius: 5px;
  padding: 5%;
  width: 35%;
  cursor: pointer;
  float: left;
  margin-top: 2rem;
}

.cerrarSesion {
  margin-top: 2rem;
  background-color: #d28181;
  color: #303030;
  border: none;
  border-radius: 5px;
  padding: 5%;
  width: 45%;
  cursor: pointer;
  float: right;
}
.perfil-datos button:hover {
  background-color: #217dbb;
}

.userpic-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.confirmButton-dark {
  align-items: center;
  background-color: lightcoral;
  color: #303030;
  border: none;
  border-radius: 5px;
  padding: 5%;
  width: 25%;
  margin: 10%;
  cursor: pointer;
}

.confirmButton-dark:hover {
}

/* Estilos específicos para confirmButton */
.confirmButton {
  color: green;
}

.confirmButton:hover {
  /* Estilos específicos aquí */
}

/* Estilos específicos para cancelButton-dark */
.cancelButton-dark {
  align-items: center;
  background-color: lightgreen;
  color: #303030;
  border: none;
  border-radius: 5px;
  padding: 5%;
  width: 25%;
  margin: 10%;
  cursor: pointer;

  /* Estilos específicos aquí */
}

.cancelButton-dark:hover {
  /* Estilos específicos aquí */
}

/* Estilos específicos para cancelButton */
.cancelButton {
  color: red;
}

.cancelButton:hover {
  /* Estilos específicos aquí */
}

.profileName {
  background-color: lightgray;
}

.profileName-dark {
  background-color: #113f67;
}

.profileLastName {
  background-color: lightgray;
}

.profileLastName-dark {
  background-color: #113f67;
}

.profileEmail {
  background-color: lightgray;
}

.profileEmail-dark {
  background-color: #113f67;
}
