.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

h1 {
  text-align: center;
}

.add-user-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 34%;
  background-color: white;
  padding: 8%;
  border: 5px solid lightskyblue;
  border-radius: 5px;
}

.add-user-popup-dark {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #233142;
  padding: 8%;
  border: 5px solid darkcyan;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-user-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-user-button:hover {
  background-color: #45a049;
}

#verde {
  background-color: #9fd6a5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 2rem;
  width: 6rem;
}
#rojo {
  background-color: #cb6262;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 5rem;
  width: 9rem;
}

#volver {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 8rem;
  margin-left: 40rem;
  background-color: transparent;
  color: blue;
}
