/* .bpdy {
  margin-top: 3rem;
  padding: 0;
  width: 18%;
  display: block; 
  max-width: none;
  margin: 0 auto; 
  border: none;
  background-color: transparent;
  box-shadow: none;
} */

.body-dark {
  background-color: #020c1a;
  color: white;
}

.users-button {
  position: absolute;
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 25%; /* Puedes ajustar este valor según sea necesario */
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.users-button {
  background-color: white;
  color: black;
  border: 4px solid #f44336;
  border-radius: 8px;
}

.users-button:hover {
  background-color: #f44336;
  color: white;
}
.users-button-dark {
  position: absolute;
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 25%; /* Puedes ajustar este valor según sea necesario */
  background-color: #113f67; /* Green */
  border: none;
  color: #113f67;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.users-button-dark {
  background-color: #113f67;
  color: black;
  border: 4px solid lightskyblue;
  border-radius: 8px;
}

.users-button-dark:hover {
  background-color: lightskyblue;
  color: white;
}

.reservations-button {
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 60%; /* Puedes ajustar este valor según sea necesario */

  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.reservations-button {
  background-color: white;
  color: black;
  border: 4px solid #f44336;
  border-radius: 8px;
}

.reservations-button:hover {
  background-color: #f44336;
  color: white;
}

.reservations-button-dark {
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 60%; /* Puedes ajustar este valor según sea necesario */

  background-color: #04aa6d; /* Green */
  border: none;
  color: #113f67;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.reservations-button-dark {
  background-color: #113f67;
  color: black;
  border: 4px solid lightskyblue;
  border-radius: 8px;
}

.reservations-button-dark:hover {
  background-color: lightskyblue;
  color: white;
}

.allFields-button {
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 35%; /* Puedes ajustar este valor según sea necesario */
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.allFields-button {
  background-color: white;
  color: black;
  border: 4px solid #f44336;
  border-radius: 8px;
}

.allFields-button:hover {
  background-color: #f44336;
  color: white;
}

.allFields-button-dark {
  margin-top: 5%; /* Puedes ajustar este valor según sea necesario */
  margin-left: 35%; /* Puedes ajustar este valor según sea necesario */
  background-color: #04aa6d; /* Green */
  border: none;
  color: #113f67;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: center;
}

.allFields-button-dark {
  background-color: #113f67;
  color: black;
  border: 4px solid lightskyblue;
  border-radius: 8px;
}

.allFields-button-dark:hover {
  background-color: lightskyblue;
  color: white;
}

/* --------------- section */

.section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 4px solid #f44336;
}

.section-dark {
  background-color: #113f67;
  color: black;
  border: 4px solid lightskyblue;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 200%;
}

h3 {
  margin-top: 20px;
  font-weight: 500;
}

.textos {
  color: black;
}

.textos-dark {
  color: rgb(225, 223, 223);
}

.pdf {
  background-color: #9f9e9e;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pdf-dark {
  background-color: #020c1a;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pdf:hover {
  background-color: #f44336;
}

.pdf-dark:hover {
  background-color: lightskyblue;
  color: black;
}

#volver {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 8rem;
  margin-left: 40rem;
  background-color: transparent;
  color: blue;
}
