.dashboard-right.admin-owner {
  /* Estilos específicos para ADMIN y OWNER */
}

/* Estilos específicos para roles diferentes de ADMIN y OWNER */
.dashboard-container.player {
  display: flex;
}

.dashboard-right.player {
  display: flex;
  flex-wrap: wrap;
}

.flex-fields {
}
.dashboard-right.admin-owner .flex-fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* Estilos para el contenedor de flex-fields en roles diferentes de ADMIN y OWNER */
.dashboard-right.player .flex-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.add-field-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
}

.add-field-popup-dark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #113f67;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: grid;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input,
select {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-field-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

#add-field-button:hover {
  background-color: #45a049;
}

.textos {
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.textos-dark {
  color: rgb(225, 223, 223);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.boton-verde {
  background-color: #9fd6a5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 2rem;
}
.cancelar {
  background-color: #cb6262;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 5rem;
}
