body {
  background-color: #f3ebe7;
  min-height: 100vh; /* Al menos la altura de la ventana gráfica */
}

.dark-theme {
  background-color: #020c1a;
  color: white;
  min-height: 100vh; /* Al menos la altura de la ventana gráfica */
}
